Makefile
Makefile.in
*.swp
/aclocal.m4
/autom4te.cache/
/build/autotools/gtk-doc.m4
/build/autotools/libtool.m4
/build/autotools/ltoptions.m4
/build/autotools/ltsugar.m4
/build/autotools/ltversion.m4
/build/autotools/lt~obsolete.m4
/build/compile
/build/config.guess
/build/config.sub
/build/depcomp
/build/install-sh
/build/ltmain.sh
/build/missing
/build/test-driver
/config.log
/config.status
/configure
/graphene-lcov.info
/graphene-lcov/
/gtk-doc.make
/libtool
/src/.deps
/src/.libs
/src/*.la
/src/*.lo
/src/*.o
/src/*.gir
/src/*.typelib
/src/*.gcda
/src/*.gcno
/src/config.h
/src/config.h.in
/src/config.h.in~
/src/graphene-config-stamp
/src/graphene-config.h
/src/graphene-version.h
/src/graphene.pc
/src/graphene-1.0.pc
/src/graphene-gobject-1.0.pc
/src/stamp-h1
