newlines                        = lf

input_tab_size                  = 8
output_tab_size                 = 8

string_escape_char              = 100
string_escape_char2             = 0

# indenting
indent_columns                  = 2
indent_with_tabs                = 0
indent_align_string             = true
indent_brace                    = 2
indent_braces                   = false
indent_braces_no_func           = true
indent_func_call_param          = false
indent_func_def_param           = false
indent_func_proto_param         = false
indent_switch_case              = 0
indent_case_brace               = 2
indent_paren_close              = 1
indent_label                    = 0
indent_paren_open_brace         = false

# spacing
sp_arith                        = add
sp_assign                       = add
sp_enum_assign                  = add
sp_bool                         = add
sp_compare                      = add
sp_inside_paren                 = remove
sp_inside_fparens               = remove
sp_func_def_paren               = force
sp_func_proto_paren             = force
sp_paren_paren                  = remove
sp_balance_nested_parens        = false
sp_paren_brace                  = remove
sp_before_square                = remove
sp_before_squares               = remove
sp_inside_square                = remove
sp_after_comma                  = add
sp_before_comma                 = remove
sp_after_cast                   = add
sp_sizeof_paren                 = add
sp_not                          = remove
sp_inv                          = remove
sp_addr                         = remove
sp_member                       = remove
sp_deref                        = remove
sp_sign                         = remove
sp_incdec                       = remove
sp_attribute_paren              = remove
sp_macro                        = force
sp_func_call_paren              = force
set func_call_user              = _ N_ C_
sp_brace_typedef                = add
sp_cond_colon                   = add
sp_cond_question                = add
sp_defined_paren                = remove

# alignment
align_keep_tabs                 = false
align_with_tabs                 = false
align_on_tabstop                = false
align_keep_extra_space          = true
align_number_right              = true
align_func_params               = true
align_func_params_span          = 0
align_func_params_thresh        = 0
align_var_def_span              = 0
align_var_def_amp_style         = 1
align_var_def_colon             = true
align_enum_equ_span             = 0
align_var_struct_span           = 0
align_var_struct_gap            = 0
align_var_struct_thresh         = 0
align_var_def_star_style        = 2
align_var_def_amp_style         = 2
align_typedef_span              = 2
align_typedef_func              = 0
align_typedef_star_style        = 2
align_typedef_amp_style         = 2

# newlines
nl_assign_leave_one_liners      = true
nl_enum_leave_one_liners        = false
nl_func_leave_one_liners        = false
nl_if_leave_one_liners          = false
nl_end_of_file                  = add
nl_assign_brace                 = remove
nl_func_var_def_blk             = 1
nl_fcall_brace                  = add
nl_enum_brace                   = remove
nl_struct_brace                 = force
nl_union_brace                  = force
nl_if_brace                     = force
nl_brace_else                   = force
nl_elseif_brace                 = force
nl_else_brace                   = add
nl_for_brace                    = force
nl_while_brace                  = force
nl_do_brace                     = force
nl_brace_while                  = force
nl_switch_brace                 = force
nl_before_case                  = true
nl_after_case                   = false
nl_func_type_name               = force
nl_func_proto_type_name         = remove
nl_func_paren                   = remove
nl_func_decl_start              = remove
nl_func_decl_args               = force
nl_func_decl_end                = remove
nl_fdef_brace                   = force
nl_after_return                 = false
nl_define_macro                 = false
nl_create_if_one_liner          = false
nl_create_for_one_liner         = false
nl_create_while_one_liner       = false
nl_after_semicolon              = true
nl_multi_line_cond              = true

# mod
mod_full_brace_for              = remove
mod_full_brace_if               = remove
mod_full_brace_while            = remove
mod_full_brace_do               = remove
mod_full_brace_nl               = 3
mod_paren_on_return             = remove

# line splitting
#code_width                     = 78
ls_for_split_full               = true
ls_func_split_full              = true

# positioning
pos_bool                        = trail
pos_conditional                 = lead

pp_ignore_define_body           = true
