/.libs
/html
/xml
/*.stamp
/graphene-decl-list.txt
/graphene-decl-list.txt.bak
/graphene-decl.txt
/graphene-decl.txt.bak
/graphene-undeclared.txt
/graphene-undocumented.txt
/graphene-unused.txt
/graphene.args
/graphene.hierarchy
/graphene.interfaces
/graphene.prerequisites
/graphene.signals
/graphene.types
